
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    height: 100vh;
}

.circle1 {
    position: absolute;
    top: 187px;
    left: 259px;
    width: 140px;
    height: 143px;
    background: transparent linear-gradient(177deg, #7F1E7B 0%, #19073B 100%) 0% 0% no-repeat padding-box;
    border-radius: 50%;
    opacity: 1;
}

.circle2 {
    position: absolute;
    top: 380px;
    left: 1440px;
    width: 104px;
    height: 107px;
    background: transparent linear-gradient(177deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
    border-radius: 50%;
    opacity: 1;
}

.circle3 {
position: absolute;
top: 780px;
left: 413px;
width: 183px;
height: 187px;
background: transparent linear-gradient(177deg, #7F4129 0%, #1C0C28 100%) 0% 0% no-repeat padding-box;
opacity: 1;
border-radius: 50%;
 z-index: -9999;

}

.circle4 {
/* position: absolute;
top: 927px;
left: 513px;
width: 183px;
background: transparent linear-gradient(180deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
backdrop-filter: blur(27px);
-webkit-backdrop-filter: blur(27px); */
 position: absolute;
            top: 130%;
            left: 70%;
            transform: translate(-50%, -50%);
            height: 200px;
            width: 1200px;
            border-radius: 1500px 1500px 0 0;
            background: transparent linear-gradient(180deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            z-index: -9999;
}

.hero-name {
    text-align: center;
    font-size: 62px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 800px;
    height: 171px;
}


.hero-message {
    width: 680px;
    height: 65px; 
    text-align: center;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 300;
    margin-top: 12px;
}

.hero-message span {
    font-size: 21px;
    font-weight: medium;
    color: #FFFFFF;
}


.countDown-container {
    background: #FFFFFF;
    width: 120px;
    height: 134px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 0;
    border-radius: 9px;
}

span {
    color: #000000;
}

.timer-container {
    display: flex;
    gap: 20px;
    width: 450px;
    margin-top: 36px;
}

.number {
    text-align: center;
    font-size: 47px;
    letter-spacing: 0px;
    color: #000000;
}

.time {
    text-align: center;
    font-size: 17px;
    letter-spacing: 0px;
    color: #000000;
}

.input-field {
    width: 526px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.input-field input {
    width: 244px;
    border: none;
    padding: 5px;
}

input[type="text"] {
    background-color: #210045;
    border-bottom: 1px solid #F6F7F9;
}

.email-container {
    width: 664px;
    height: 67px;
    background: #FFFFFF;
    border-radius: 51px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.Join-btn {
    width: 350px;
    height: 67px;
    background: #271AC1;
    box-shadow: 0px 0px 10px #09090991;
    padding: 1.25rem 2.5rem;
    margin-left: .8rem;
    border-radius: 51px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
}

.input {
    width: 400px;
    height: 24px;
    margin-left: 3rem;
    border: none;
}

.input[type="text"] {
    background: #ffffff;
    border-bottom: none;
}
.color {
    color: #ffffff;
}