/* .about {
    margin-left: -30px;
    width: 1153px;
    height: 891px;
    background: transparent linear-gradient(180deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.about-desc {
    display: flex;
    flex-direction: column;
    width: 926px;
    height: 293px;
    border: 1px solid;
    position: absolute;
    top: 463px;
    left: 614px;
} */